<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
    <h1>Create new employee</h1>
    <form method="POST" action="/createEmployee">
        <label for="employeeName">Name</label>
        <input id="employeeName" type="text" name="employeeName">
        <label for="job">Job</label>
        <input id="job" type="text" name="job">
        <label for="manager">Manager</label>
        <input id="manager" type="number" name="manager">
        <label for="commission">Comission</label>
        <input id="commission" type="number" name="commission">
        <label for="departmentNumber">Department Number</label>
        <input id="departmentNumber" type="number" name="departmentNumber">
        <input type="submit">
    </form>

</body>
</html>